:root {
    --color-primary: #EFE2BA;
    --color-secondary: #4056A1;
    --color-tertiary: #F13C20;
    --color-tertiary-light: #FF6B6C;
    --color-accent-primary: #D79922;
    --color-accent-secondary: #554D4A;
    --color-accent-tertiary: #C5CBE3;
    --color-accent-dark: #857F7F;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-mint: #B4F8C8;
    --color-white-smoke: #F5F5F5;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-primary);
    color: var(--color-accent-secondary);
}
section {
    padding: 10vh 2rem;
    position: relative;
}
blockquote {
    margin-top: 1.5rem;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: var(--color-accent-primary);
    content: open-quote;
    font-size: 8rem;
    line-height: 0.1rem;
    margin-right: 0.25rem;
    vertical-align: -2rem;
}
blockquote:after {
    color: var(--color-accent-primary);
    content: close-quote;
    font-size: 8rem;
    line-height: 0.1rem;
    margin-left: 0.25rem;
    vertical-align: -0.8em;
}
blockquote p {
    display: inline;
}

.scroll-snap-container {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    /*scroll-snap-type: y mandatory;*/
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-y: snapInterval(0%, 100%);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-snap-container::-webkit-scrollbar {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    text-align: justify;
}

.hero {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
}
.hero > .hero-icon {
    font-size: 8em;
}
.hero > .hero-title {
    color: var(--color-accent-secondary);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.2rem;
}
.hero > .hero-subtitle {
    color: var(--color-accent-dark);
    font-size: 1.8rem;
    margin-top: 0.8rem;
}
.about {
    background: var(--color-secondary);
    color: var(--color-white);
    scroll-snap-align: start;
    padding-bottom: 5vh;
}
.about > .about-title {
    font-size: 2rem;
    text-transform: uppercase;
}
.about > .content-wrapper {
    width: 100%;
    flex: 0 auto;
    font-size: 2rem;
    line-height: 1.8rem;
    font-style: italic;
}
.about .content-wrapper .exp-highlight {
    color: var(--color-accent-primary);
    font-weight: bold;
}
.about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: var(--color-primary);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
}
.about:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: var(--color-mint);
    border-radius: 50% 50% 0 0/100% 100% 0 0;
}

.work-exp {
    scroll-snap-align: start;
    background: var(--color-mint);
    color: var(--color-accent-secondary);
}
.work-exp > .work-exp-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: right;
}
.work-exp > .content-wrapper {
    width: 100%;
    flex: 0 auto;
    font-size: 2rem;
    line-height: 1.8rem;
    font-style: italic;
}

.education {
    background: var(--color-accent-tertiary);
    color: var(--color-accent-secondary);
    scroll-snap-align: start;
}
.education > .education-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
}
.education > .content-wrapper {
    width: 100%;
    flex: 0 auto;
    font-size: 2rem;
    line-height: 1.8rem;
    font-style: italic;
}

.projects {
    background: var(--color-tertiary-light);
    color: var(--color-white);
    scroll-snap-align: start;
}

.skills {
    scroll-snap-align: start;
    background: var(--color-white-smoke);
    color: var(--color-black);
}

/* --------------------------------
 *
 *   Timeline
 *
 * -------------------------------- */

.cd-container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
    border-radius: 2px;
}
.cd-container::after {
    content: '';
    display: table;
    clear: both;
}

.cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
.cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: #EEBF77;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #EEBF77, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
    background: #D79922
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: var(--color-accent-dark);
    color: var(--color-white);
    border-radius: 2px;
    padding: 1em;
}
.timeline-content-info {
    background: var(--color-accent-secondary);
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}
i {
    margin-right: 5px;
}
.timeline-content-info-title, .timeline-content-info-date {
    width: calc(50% - 2px);
    display: inline-block;
}
@media (max-width: 500px) {
    .timeline-content-info-title, .timeline-content-info-date {
        display: block;
        width:100%;
    }
}
li {
    background: #40484D;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: rgba(255,255,255,0.7);
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: rgba(255,255,255,.9);
    margin-top:0;
    margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
    color: var(--color-white);
    font-size: 13px;
    font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid var(--color-accent-dark);
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        color: white;
        padding: 1.6em;
        width: 44%;
        margin: 0 2%
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: var(--color-accent-dark);
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 140%;
        top: 6px;
        color: var(--color-accent-dark);
        font-size: 1rem;
        font-weight: bold;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: var(--color-accent-dark);
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 140%;
        text-align: right;
        color: var(--color-accent-dark);
        font-size: 1rem;
        font-weight: bold;
    }
}



/* --------------------------------------------
 *
 *   Mouse scroll animation in hero container
 *
 * -------------------------------------------- */

.mouse-scroll {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    -webkit-transform: translateX(-50%);
}
.mouse-scroll span {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 0.075rem solid var(--color-accent-secondary);
    border-bottom: 0.075rem solid var(--color-accent-secondary);
    margin-left: 0.1rem;
}
.mouse-scroll .mouse {
    height: 1.7rem;
    width: 1rem;
    border-radius: 1.6rem;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 0.1rem solid var(--color-accent-secondary);
}
.mouse-scroll .down-arrow-1 {
    margin-top: 0.5rem;
}
.mouse-scroll .down-arrow-1, .mouse-scroll .down-arrow-2, .mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}
.mouse-scroll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}
.mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
.mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
.mouse-scroll .mouse-in {
    height: 0.3rem;
    width: 0.1rem;
    display: block;
    margin: 0.3rem auto;
    background: var(--color-accent-secondary);
    position: relative;
}
.mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(0.5rem);
        -ms-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}